@charset "UTF-8"

/*共通部分
----------------------*/
html {
  font-size: 100%;
}
body {
  font-family:"Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ pro W3",sans-serif;
  line-height:1.7;
  color: #000;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%
}
.wrapper {
  max-width: 1100PX;
  margin: 0 auto;
  padding: 0 4%;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
ul {
  list-style: none;
}

/*header
----------------------*/
header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-left {
  margin-top: 5px;
}
h1 {
  letter-spacing: 2px;
}
h1 a {
  color: #000;
}
nav li {
  line-height: 30px;
  text-align: center;
  border-bottom: 1px solid rgba(160,160,160,0);
}
nav li:hover {
  border-bottom: 1px solid rgb(160,160,160);
}
header nav li {
  margin: 20px 0 0 60px ;
}
nav a {
  color: #000;
  font-weight: bold;
  letter-spacing: 2px;
  display: inline-block;
  width: 100px;
}

/*トップ画像
----------------------*/
.top-image {
  background: url(images/top-image.jpg) no-repeat center top/cover;
  min-height: 92vh;
  position: relative;
}
.mbl-br {
  display: none;
}
.fade h2 {
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 4vw;
  letter-spacing: 10px;
  line-height: 92vh;
  position: absolute;
  top: 0;
}
/*文字アニメーション*/
.fade {
  -webkit-animation: fadeIn 4s ease 0s 1 normal;
          animation: fadeIn 4s ease 0s 1 normal;
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/*abut
----------------------*/
h3 {
  text-align: center;
  margin: 120px 0 60px 0;
  font-size: 2.5rem;
  letter-spacing: 5px;
}
.pc-none {
  display: none;
}
.profile-img {
  width: 210px;
  margin-left: 10px;
}
.profile {
  margin-left: 50px;
  margin-right: 20px;
}
.profile li {
  margin-bottom: 5px;
}
.name {
  font-size: 1.25rem;
  padding-bottom: 10px;
}
.profile li:last-child {
  margin-top: 15px;
}

/*contact
----------------------*/
.contact {
  text-align: center;
}
.contact-ml {
  margin: 20px auto;
  background-color: rgba(128,128,128,0.2);
  border-radius: 5px;
  width: 250px;
  height: 50px;
  line-height: 50px;
}
.contact-ml:hover {
  background: rgb(160,160,160);
}
.contact-ml a {
  color: #000;
  display: inline-block;
  width: 250px;
}

/*footer
----------------------*/
.footer-nav {
  margin: 0 auto;
  margin-top: 150px;
}
.footer-nav ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-nav li {
  margin: 10px 60px;
}
#copyright {
  background: rgb(160,160,160);
  text-align: center;
  height: 40px;
  line-height: 40px;
}


/*モバイル版
-------------------------------------------------*/
@media (max-width: 600px) {

  /*header*/
  header {
    height: 10vh;
  }
  .mbl-block {
    display: block;
  }
  h1 {
    font-size: 1.5rem;
  }
  header nav li {
    margin: 0 auto;
  }

  /*トップ画像*/
  .top-image {
    background: url(images/top-image-mbl.png) no-repeat center top/cover;
    min-height: 90vh;
  }
  .mbl-br {
    display: block;
  }
  .fade h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
    line-height: 30px;
    height: 100%;
  }

  /*abut*/
  h3 {
    font-size: 2rem;
  }
  .mbl-name {
    text-align: center;
  }
  .pc-none {
    display: block;
  }
  .name {
    padding: 0;
  }
  .profile-img {
    margin: 30px auto;
    text-align: center;
    height: 170px;
  }
  .profile-img img {
    height: 170px;
  }
  .profile {
    width: 250px;
    margin: 0 auto;
  }
  .profile li:last-child {
    margin-top: 30px;
  }
  .profile li, .contact p {
    font-size: 1rem;
  }
  .mbl-none {
    display: none;
  }
  
  /*footer*/
  .footer-nav li {
    margin: 10px;
  }
  .footer-nav a {
    display: inline;
    padding: 5px 10px;
  }
}
