@charset "UTF-8"

/*共通部分
----------------------*/
html {
  font-size: 100%;
}
body {
  font-family:"sans-serif";
  line-height:1.7;
  background: #fbfbfb;
  color: #757575;
  overflow-x: hidden;
}
 h1, h2, h3 {
  font-family: 'Charm', cursive;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%
}
.wrapper {
  max-width: 1170PX;
  margin: 0 auto;

}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
ul {
  list-style: none;
}

/*header
----------------------*/
header {
  background-color: rgba(0,0,0,0.5);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  position: absolute;
  width: 100vw;
  z-index: 100;
}
header .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
h1 {
  line-height: 80px;
  letter-spacing: 2px;
  font-size: 2.5rem;
  margin-left: 15px;
}
h1 a {
  color: #fff;
}
nav li {
  font-family: 'Caveat', cursive;
  font-size: 1.5rem;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,0);
}
nav li:hover {
  border-bottom: 1px solid rgb(160,160,160);
}
header nav li {
  margin: 20px 20px;
}
nav a {
  color: #fff;
  letter-spacing: 2px;
  display: inline-block;
  width: 100px;
}
/*トグルメニュー*/
.menu {
  display: none;
}

/*トップ画像
----------------------*/
.top-image {
  background: url(images/top-image.jpg) no-repeat center top/cover;
  background-color: rgba(31,31,31,0.3);
  background-blend-mode: overlay;
  min-height: 100vh;
}
.mbl-br {
  display: none;
}
.fade h2 {
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 5rem;
  letter-spacing: 4px;
  line-height: 100vh;
}
/*文字アニメーション*/
.fade {
  -webkit-animation: fadeIn 4s ease 0s 1 normal;
          animation: fadeIn 4s ease 0s 1 normal;
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/*about
----------------------*/
.container {
  width: 100vw;
  background-color: #1f1f1f;
}
.about .wrapper, .works .wrapper {
  padding: 150px 0;
}
.title {
  width: 600px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  height: 200px;
  line-height: 200px;
  background-color: #1f1f1f;
  color: #fff;
  font-size: 3.25rem;
  letter-spacing: 5px;
}
/*タイトル装飾*/
.title::before, .title::after {
  content: "";
  width: 100px;
  height: 40px;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.title::before {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  top: 40px;
  left: 0;
  /*right: 960px;*/
}
.title::after {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  /*left: 960px;*/
  right: 0;
  bottom: 40px;
}/*装飾ここまで*/

.profile-img {
  width: 40%;
  padding: 0 20px;
}
.profile {
  width: 40%;
  padding-top: 70px;
  padding-left: 50px;
}
h4 {
  font-size: 1.25rem;
  padding-bottom: 10px;
  color: #1f1f1f;
}
.profile p {
  font-size: 14px;
  margin-bottom: 10px;
}

/*works
----------------------*/
.item {
  padding: 0 15px;
}
.item img {
  -webkit-box-shadow: 0 0 5px #c8c8c8;
          box-shadow: 0 0 5px #c8c8c8;
}
.banner .item {
  width: 40%;
  margin: 50px 0 0;
}

/*contact
----------------------*/
.contact-bg {
  background: url(images/top-image.jpg) no-repeat center bottom/cover;
  background-color: rgba(31,31,31,0.9);
  background-blend-mode: overlay;
}
.contact {
  text-align: center;
}
.contact p {
  color: #fff;
}
.contact-bg .wrapper {
  padding: 200px 0;
}
.contact-ml {
  margin: 20px auto 0;
  background-color: rgb(255,255,255,0.8);
  border-radius: 2px;
  width: 320px;
  height: 50px;
  border: 2px solid #1f1f1f;
}
a.mail-icon {
  display: inline-block;
  color: #1f1f1f;
  font-weight: bold;
  line-height: 48px;
  width: 100%;
}
a.mail-icon::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: -4px 10px 0 0;
  background: url(images/mail-icon.png) no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.contact-ml:hover {
  background: rgb(255,255,255,1);
}
/*footer
----------------------*/
.footer-nav {
  background-color: #1f1f1f;
  margin: 0 auto;
}
.footer-nav ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-nav li {
  margin: 10px 60px;
}
#copyright {
  background-color: #1f1f1f;
  color: #fff;
  text-align: center;
  height: 40px;
  line-height: 40px;
}


/*モバイル版
-------------------------------------------------*/
@media (max-width: 600px) {

  .wrapper {
    padding: 0 4%;
  }
  /*header*/
  header {
    height: 65px;
  }
  h1 {
    line-height: 65px;
    font-size: 1.75rem;
    margin-left: 0;
  }
  .header-right {
    display: none;
  }
  .about .wrapper, .works .wrapper {
    padding: 75px 4%;
  }
  /*トグルメニュー*/
  .menu {
    display: block;
    margin: 0 auto;
    position: relative;
  }
  .menu-btn {
    max-width: 50px;
    max-height: 50px;
    padding: 7px;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 7.5px;
    right: 0;
    z-index: 999;
  }
  .menu-nav {
    background: rgba(0,0,0,0.9);
    border: 1px solid rgb(255,255,255,0.4);
    padding: 40px 20% 50px;
    width: 100vw;
    position: fixed;
    top: 65px;
    right: 0
  }
  nav li {
    border-bottom: 1px solid rgb(160,160,160);
  }
  nav a {
    width: 100%;
  }
  /*トグルメニューここまで*/

  /*トップ画像*/
  .top-image {
    background: url(images/top-image-mbl.jpg) no-repeat center top/cover;
    background-color: rgba(31,31,31,0.3);
    background-blend-mode: overlay;
  }
  .mbl-br {
    display: block;
  }
  .fade h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.5rem;
    line-height: 40px;
    height: 100vh;
  }

  /*about*/
  .title {
    width: 90vw;
    height: 150px;
    line-height: 150px;
    font-size: 2.5rem;
  }
  /*タイトル装飾(「」)*/
  .title::before, .title::after {
    content: "";
    width: 80px;
    height: 30px;
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .title::before {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    top: 30px;
    left: 15px;
  }
  .title::after {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    right: 15px;
    bottom: 30px;
  }/*装飾ここまで*/

  .column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  h3 {
    font-size: 2rem;
  }
  .profile-img {
    width:95%;
    margin: 0 auto;
  }
  .profile {
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 0;
    text-align: center;
  }

  /*works*/
  .item {
    padding: 8px 0;
  }
  .banner .item {
    width: 100%;
    margin: 0;
  }

  /*contact*/
  .contact p {
    width: 80vw;
    margin: 0 auto;
  }
  .contact-ml {
    background-color: rgb(255,255,255,1);
  }
  .contact-bg {
    background: url(../images/top-image-mbl.jpg) no-repeat center bottom/cover;
    background-color: rgba(31,31,31,0.9);
    background-blend-mode: overlay;
  }
  /*footer*/
  .footer-nav {
    display: none;
  }
}
